:root {
    --dark-blue: #0e1a24;
    --deep-blue: #023047;
    --silvery-blue: #50708a;
    --medium-gray: #464646;
    --bronze: #946B2D;
    --black: #000000;
    --light-tan: #948369;
    /* --coral: #FF6B6B; */
}

.background {
    position: fixed;
    top: 40%;
    bottom: 10%;
    left: 25%;
    right: 25%;
    width: 50%;
    height: 50%;
    z-index: 0;
    border-radius: 1%;
    background-image: url('/static/media/zenimagery.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.2;
    background-color: var(--dark-blue);
}

body {
    display: block;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}


body {
    background-color: var(--medium-gray);
    font-family: 'Nova Square', sans-serif;
    margin: 0;
    /* Remove default body margin */
}

.card {
    background-color: var(--light-tan);
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(221, 203, 203, 0.2);
    padding: 20px;
    max-width: 400px;
    margin: 0 auto;
    
}

h2 {
    color: white;
    /* Text color for the heading */
    font-size: 50px;
}

p {
    display: block;
}
