/* colors contained within the app that i can easily call and keep organized */
:root {
    --dark-blue: #0e1a24;
    --deep-blue: #023047;
    --silvery-blue: #50708a;
    --medium-gray: #464646;
    --bronze: #946B2D;
    --black: #000000;
    --light-tan: #948369;
    /* --coral: #FF6B6B; */
}

.background {
    position: fixed;
    top: 5%;
    /* Add 20% space to the top */
    bottom: 5%;
    left: 17%;
    /* Add 20% space to the left */
    right: 3%;
    width: 80%;
    /* Reduce the width to 80% */
    height: 90%;
    /* Reduce the height to 80% */
    z-index: 0;
    border-radius: 1%;
    background-image: url('/static/media/zenimagery.jpg');
    background-size: cover;
    background-position: center;
    opacity: 0.8;
    background-color: var(--medium-gray);
}

body {
    background-color: var(--medium-gray);
    font-family: 'Nova Square', sans-serif;
    margin: 0;
    /* Remove default body margin */
}

/* Made a container to hold all the divs to make spacing easier and cohesive */
.container {
    display: flex;
    flex-direction: column;
    align-items: left;
    height: 50vh;
    margin-right: 100px;
    margin-top: 150px;
}

.footer {
    background-color: var(--dark-blue);
    text-decoration: none;
    text-align: center;
    width: 35%;
    height: 70%;
    color: var(--light-tan);
    border-radius: 50px;
    justify-content: flex-end;
    border-radius: 0px;
    font-size: 12px;
    margin-left: auto;
    margin-top: -30px;
    margin-bottom: 5px;
    opacity: 0.9;
    border-radius: 50%;
    transform: skew(-20deg);
    transition: transform 0.5s, background-color 0.5s;
}

.footer a {
    display: inline-block;
    /* Display links in a row */
    margin: 0 10px;
    /* Optional: Add margin for spacing between links */
    text-decoration: none;
    color: var(--light-tan);
}

.footer:hover {
    background-color: var(--black);
    /* Darken the background color */
    transform: scale(1.05);
    /* Increase the size by 5% on hover */
    cursor: pointer;
    /* Change cursor to a pointer on hover */
}

.footer a:hover {
    color: var(--silvery-blue) !important;
    /* Change color on hover */
    /* Add !important to prioritize this rule */
}

.header-div {
    background-color: var(--dark-blue);
    text-align: center;
    width: 20%;
    height: 90%;
    margin-left: auto;
    margin-top: 0px;
    padding: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
    opacity: 1.0;
    border-radius: 80%;
    /* Makes the  riverrock shape */
    transform: skew(-25deg);
    transition: transform 0.5s, background-color 0.5s;
}

.header-div:hover {
    background-color: var(--black);
    /* Darken the background color */
    transform: scale(1.05);
    /* Increase the size by 5% on hover */
    cursor: pointer;
    /* Change cursor to a pointer on hover */
}

h1 {
    color: var(--light-tan);
    font-size: 1.5em;
    /* Double the font size */

}

h2 {
    color: var(--light-tan);
    font-size: 1.5em;
    /* Double the font size */
}

/* CSS for centering h1 within the header */
header {
    display: flex;
    justify-content: flex-end;
    /* Align the header to the right */
    opacity: 0.9;
}

h3 {
    color: var(--light-tan);
    font-size: 1.5em;
}

/* CSS for centering h2 within the main section */
main {
    text-align: center;
}

.left-panel {
    position: fixed;
    top: -200px;
    left: 0;
    width: 20%;
    /* Width of the left panel */
    height: 100%;
    padding: 15px;
    /* Add padding for content */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: left;
    color: var(--medium-gray);
}

.left-panel h2 {
    color: white;
    /* Text color for the heading */
    font-size: 50px;
}

.left-panel p {
    color: white;
    /* Text color for the paragraph */
}

.left-panel button {
    background-color: var(--bronze);
    /* Button background color */
    color: var(--black);
    /* Button text color */
    border: none;
    padding: 25px 25px;
    cursor: pointer;
    margin-top: 20px;
    /* border-radius: 55%; */
    width: auto;
    /* transform: skew(50deg); */
}

p {
    color: var(--light-tan);
    font-size: 2.0em;
}

.river-rock {
    background-color: var(--dark-blue);

    text-decoration: none;
    width: 30%;
    height: 70%;
    text-align: center;
    color: var(--light-tan);
    /* border-radius: 50px; */
    margin-top: 35px;
    /* Add margin at the top */
    justify-content: flex-end;
    border-radius: 10px;
    font-size: 10px;
    margin-left: auto;
    margin-top: -20px;
    margin-bottom: 0px;
    opacity: 0.9;
    border-radius: 70%;
    transform: skew(-30deg);
    font-size: 15px;
    transition: transform 0.5s, background-color 0.5s;
}

.river-rock:hover {
    background-color: var(--black);
    /* Darken the background color */
    transform: scale(1.05);
    /* Increase the size by 5% on hover */
    cursor: pointer;
    /* Change cursor to a pointer on hover */
}