:root {
    --dark-blue: #0e1a24;
    --deep-blue: #023047;
    --silvery-blue: #50708a; /* This is Slate Gray, adjusting later */
    --medium-gray: #464646;
    --bronze: #946B2D;
    --black: #000000;
    --light-tan: #948369;
    --coral: #FF6B6B;
}

body {
    background-color: var(--silvery-blue);
    color: var(--silvery-blue);
    font-family: 'Nova Square', sans-serif;
}

.centered-div {
    background-color: var(--deep-blue);
    width: 80%; 
    height: 150%;
    margin: 0 auto; 
    padding: 20px; 
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}


h1 {
    color: var(--black);
    font-size: 3.5em; /* Double the font size */

}

h2 {
    color: var(--black);
    font-size: 2.5em; /* Double the font size */
}

/* CSS for centering h1 within the header */
header {
    text-align: center;
}



/* CSS for centering h2 within the main section */
main {
    text-align: center;
}

h3 {
    color: var(--light-tan);
    font-size: 2.0em;
}

.footer {
    background-color: var(--dark-blue);
    width: 65%;  /* set width to 100% */
    
    text-align: center;
    color: var(--coral);
    border-radius: .5rem;
    clear: both;
    border: 7px solid var(--white);
    border-radius: 10px;
    font-size: 20px;
    margin-top: 5px;
    margin-bottom: 5px;
    margin: auto;
    border: 7px solid white;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.2);
}

p{
    color: var(--light-tan);
    font-size: 2.0em;
}