<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zen Mindset App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Nova+Square&family=Philosopher&display=swap"
        rel="stylesheet">

</head>

<body>
    <div class="background"> </div>
    <div class="left-panel">

        <h2>ZEN <br> MINDSET</h2>

        <button>Game Idea -TBD </button>
        <a href="https://tinybuddha.com/wisdom-category/anxiety/" target="_blank">
            <button>Tiny Buddha Wisdoms</button>
        </a>
        
        <button>Resources</button>
        <br>
        <div class="video-container">
            <iframe src="https://www.youtube.com/embed/7HG2W7PhCNQ?si=FbKZYhNvpxZnYoSO" title="YouTube video player"
                frameborder="0"
                allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share"
                allowfullscreen></iframe>
        </div>

        <a href="/about_us">
            <button>Brought to you by Panic Problems 2024 <br>
                Get in Touch with or learn About Us Here</button>
        </a>
    </div>
    </div>




    <div class="container">
        <header>
            <div class="header-div">
                <br>
                <h1>Welcome to Zen Mindset</h1>

            </div>
        </header>

        <main>
            <div class="river-rock">
                <br>
                <h3>A place to come when you need a moment to breathe</h3>
                <br>
            </div>

            <!-- <div class="button-container">
                <button class="buttons">Button 1</button>
                <button class="buttons">Button 2</button>
                <button class="buttons">Button 3</button>
            </div> -->

            <div>
                <footer class="footer">
                    <br>
                    <p>Here are my links</p>
                    <a href="https://github.com/206Dorian">
                        <h3>Github</h3>
                    </a>
                    <a href="https://www.linkedin.com/in/dorian-douglas-birch-70695b4b/">
                        <h3> LinkedIn</h3>
                    </a>
                    <a href="https://dorians-portfolio-d5232a4cbe01.herokuapp.com/">
                        <h3>Portfolio</h3>
                    </a>
                    <br><br>
                </footer>
        </main>
    </div>

    <!-- JavaScript to trigger Tkinter-like functionality -->
    <script>
        function onButton1Click() {
            alert("Button 1 Clicked!");
        }

        function onButton2Click() {
            alert("Button 2 Clicked!");
        }

        function onButton3Click() {
            alert("Button 3 Clicked!");
        }
    </script>
</body>

</html>