<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zen Mindset App</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Exo+2:wght@300&family=Nova+Square&family=Philosopher&display=swap" rel="stylesheet">
     
</head>
<body>
    <header>
        <h1>Welcome to Zen Mindset</h1>
        <!-- Add any header content or navigation links here -->
    </header>

    <main>
        <h2>A trauma healing app</h2>

        <div class="centered-div">
            
            <h3>more info to come</h3>
        </div>


        <footer className="footer">
            
            <p> you like this app and want to give me a job, <br/> here are my links!</p>
            <br/><br/>
            <a href="https://github.com/206Dorian"> Github</a>
            <br/>
            <a href="https://www.linkedin.com/in/dorian-douglas-birch-70695b4b/">LinkedIn</a>
            <br/>
            <a href="https://dorians-portfolio-d5232a4cbe01.herokuapp.com/">Portfolio</a>
            <br></br>
            <br/>
          </footer>

    </main>

    <footer>
        <!-- Footer content, such as copyright information, can be placed here -->
    </footer>
</body>
</html>
