<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Zen Mindset App</title>
    
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">


     
</head>
<body>
    <header>
        <h1>Welcome to Zen Mindset</h1>
        <!-- Add any header content or navigation links here -->
    </header>

    <main>
        <!-- Your app's main content goes here -->
    </main>

    <footer>
        <!-- Footer content, such as copyright information, can be placed here -->
    </footer>
</body>
</html>
